            * {
                box-sizing: border-box;
                font-family: Montserrat, sans-serif;
            }
            
            body {
                padding: 0;
                margin: 0;
                background-color: #e7dec2;
            }
            /* ----------------------- nav css goes here --------------------- */
            
            .header-container {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: stretch;
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                background-color: #9b2915;
                color: #e7dec2;
                z-index: 100;
            }
            
            .header-item {
                font-size: 10rem;
                font-family: "Montserrat", sans-serif;
                padding-left: 20px;
                padding-right: 20px;
            }
            
            .header-item:hover {
                background-color: #e4d6a7;
                color: #514b23;
                font-weight: bold;
                transition: 0.5s;
            }
            
            .dropbtn {
                font-family: "Montserrat", sans-serif;
                background-color: #9b2915;
                color: #e7dec2;
                padding: 16px;
                font-size: 16px;
                border: none;
                transition: 0.5s;
            }
            
            .dropdown {
                position: relative;
                display: inline-block;
            }
            
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #e4d6a7;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
                font-family: "Montserrat", sans-serif;
                color: #514b23;
                font-weight: bold;
            }
            
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                font-family: "Montserrat", sans-serif;
            }
            
            .dropdown-content a:hover {
                background-color: #ddd;
            }
            
            .dropdown:hover .dropdown-content {
                display: block;
            }
            
            .dropdown:hover .dropbtn {
                background-color: #e4d6a7;
                color: #514b23;
                font-weight: bold;
            }
            /* --------hero banner -----------*/
            
            .landing {
                height: 100vh;
                max-height: 100vh;
                overflow: hidden;
            }
            
            .hero {
                text-align: center;
                position: relative;
            }
            
            .main-title {
                font-size: 4.5rem;
                text-transform: uppercase;
                margin: 0;
                letter-spacing: 0.25rem;
                padding-top: 5rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #e7dec2;
                text-shadow: 3px 3px #514b23;
            }
            
            .scroll-button {
                padding: 0.5rem 4rem;
                margin: 0 3rem;
                display: inline-flex;
                font-size: 1.5rem;
                color: #e7dec2;
                background-color: #9b2915;
                border-radius: 10px;
                border-style: none;
                font-weight: lighter;
                letter-spacing: 0.1rem;
                text-transform: uppercase;
                text-decoration: none;
            }
            
            .scroll-button:hover {
                background-color: #9b2915;
                color: #e7dec2;
                font-weight: bold;
                text-decoration: underline;
                transition: 0.5s;
            }
            
            .second-head {
                text-align: center;
                padding: 0.5rem;
            }
            
            .hero-image {
                width: 100vw;
                max-height: 90vh;
                padding-bottom: 1rem;
                object-fit: cover;
            }
            
            .section-header {
                font-size: 3rem;
            }
            /* ----------------visit/stay/eat sections ------------------- */
            
            .section-container {
                display: flex;
                margin: 1rem;
                padding-left: 0.5rem;
                justify-content: center;
                align-items: stretch;
                width: 95vw;
                height: 70vh;
                overflow: auto;
            }
            
            .section-pic {
                height: 70vh;
                max-height: 70vh;
                width: 50vw;
                max-width: 50vw;
                padding: 1rem;
            }
            
            .section-text {
                align-items: flex-end;
                padding: 0 1.5rem;
                text-align: justify;
            }
            /* ------------------------ footer css goes here --------------------- */
            
            .footer-container {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: stretch;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: #9b2915;
                color: #e7dec2;
                padding: 20px 0px 20px 0px;
            }
            
            .footer-item {
                font-size: 16px;
                font-family: "Montserrat", sans-serif;
                padding-left: 20px;
                padding-right: 20px;
            }