* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: #e7dec2;
}

p {
  padding: 0.5rem 0.5rem 0.5rem 0;
}

a {
  all: unset;
}

/* ----------------------- nav css goes here --------------------- */

.header-container {
  position: initial;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #9b2915;
  color: #e7dec2;
  height: 50px;
}

.header-item {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

.header-item:hover {
  background-color: #e4d6a7;
  color: #514b23;
  font-weight: bold;
}

.dropbtn {
  font-family: "Montserrat", sans-serif;
  background-color: #9b2915;
  color: #e7dec2;
  padding: 16px;
  font-size: 13px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #e4d6a7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  color: #514b23;
  font-weight: bold;
  font-size: 13px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Montserrat", sans-serif;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #e4d6a7;
  color: #514b23;
  font-weight: bold;
}

/* ------------------------ footer css goes here --------------------- */

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;

  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #9b2915;
  color: #e7dec2;
  padding: 0px;
}

.footer-item {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: none;
}

/*---- other ----*/

.landing {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.hero {
  text-align: center;
  position: relative;
  opacity: 70%;
  padding-bottom: 0;
}

.main-title {
  font-size: 7rem;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.25rem;
  padding-top: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #9b2915;
  text-shadow: 3px 3px #514b23;
  font-family: "Montserrat", sans-serif;
}

.scroll-button {
  padding: 0.5rem 4rem;
  margin: 0 3rem 0.5rem 0;
  display: inline-flex;
  font-size: 1.5rem;
  color: #e7dec2;
  background-color: #9b2915;
  border-radius: 10px;
  border-style: none;
  font-weight: lighter;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.scroll-button:hover {
  background-color: #e7dec2;
  color: #9b2915;
  font-weight: bold;
  transition: 0.2s;
}

.second-head {
  text-align: center;
  padding: 1rem 1rem 1rem 1rem;
  background-color: #514b23;
  margin-top: -5px;
}

.hero-image {
  width: 100vw;
  max-height: 90vh;
  padding-bottom: -5px;
  object-fit: cover;
}

.section-header {
  font-size: 3rem;
}
/* ----------------visit/stay/eat sections ------------------- */

.section-container {
  display: flex;

  justify-content: center;
  align-items: stretch;
  width: 95vw;
  height: 70vh;
  overflow: auto;
}

.section-pic {
  height: 70vh;
  max-height: 70vh;
  width: 50vw;
  max-width: 50vw;
}

.section-text {
  align-items: flex-end;
  padding: 0 1.5rem;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  margin-top: 5px;
  color: #514b23;
  font-weight: bold;
}

.section-pic:hover {
  opacity: 70%;
}

/* ---- hr line styling ---- */

.hr-green {
  border: 0.5px solid #514b23;
  margin-bottom: 5px;
  margin-top: 5px;
}

.jumbotron {
  background-color: antiquewhite;
  border: 1px solid #514b23;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0 0 0;
}
