body, html {
    height: 100%;
}

h1 {
    font-size: 160;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (liverpool hero image.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("LiverpoolBackgroundImage.jpg");
  
    /* Set a specific height */
    height: 85%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }


.container {
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 650px) {
    .container {
      display: block;
      font-size: 80%;
    }
    h4 {
      position: relative;
      margin: -3rem 0 2rem 1rem;
      padding: 1rem;
      background: rgba(white, 0.8);
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }